@charset "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6, p, pre, address, cite {
  margin: .5em auto;
  line-height: 1.4;
  font-size: 100%;
}

blockquote h1, blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6, blockquote p {
  margin-left: .5em;
}

address {
  font-style: normal;
}

ul, ol {
  margin: 1em 2em;
  padding: 1px 0;
}

li ul, li ol {
  margin: 0 10px;
}

dd {
  margin-left: 0;
}

form {
  margin: 0;
  padding: 0;
}

fieldset {
  padding: 0 .5em .5em .5em;
  border: solid 1px #ccc;
}

legend {
  padding: 0 7px;
}

input, textarea {
  font-size: 100%;
  margin: 0;
}

label {
  cursor: pointer;
}

a img {
  border: none;
}

hr {
  border: 1px solid #DCDCDC;
}

hr.bold {
  border: 1px solid #999;
}

* {
  color: #1B1B1B;
  font-family: 'メイリオ', Meiryo, Verdana, 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
}

body {
  width: 100%;
  font-family: 'メイリオ', Meiryo, Verdana, 'ヒラギノ角ゴPro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
  padding: 0;
  margin: 0;
  font-size: .75em;
  color: #1B1B1B;
  background: #FFF;
  line-height: 1.4;
}

* html body {
  font-size: .8em;
}

* + html body {
  font-size: .75em;
}

th label {
  display: block;
  width: 100%;
}

a {
  color: #1B1B1B;
  text-decoration: underline;
}

th a {
  color: #1B1B1B;
}

a:hover, a:hover strong, a:hover span {
  color: #F90;
  text-decoration: none;
}

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

ul li {
  list-style: none;
  line-height: 150%;
  text-align: left;
  display: block;
  background: url(../images/common/li_icon.gif) 0 0.5em no-repeat;
  padding: 0 0 0 1em;
}

strong {
  font-weight: bold;
}

input {
  line-height: 1.5;
}

input[type="button"] {
  cursor: pointer;
}

input[type="text"],
input[type="password"],
.aipostyle input.text {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #FFF;
  border: 1px solid #C9C9C9;
  padding: 2px;
}

textarea {
  padding: 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #FFF;
  border: 1px solid #C9C9C9;
}

select {
  font-size: 1em;
  line-height: normal;
  margin: 1px;
  z-index: 0 !important;
}

img {
  border: none;
}

a img {
  border: none;
  text-decoration: none;
}

.aipostyle h3 {
  line-height: 150%;
  padding: 2px 0;
  margin: 0 0 10px;
  border-bottom: 1px solid #f0f0f0;
}
.aipostyle h4 {
  background: transparent url(../images/common/bg_line.gif) repeat-x left bottom;
  line-height: 150%;
  padding: 0 0 3px;
  margin: 0 0 10px;
}
.aipostyle blockquote {
  border: 5px solid #ddd;
  background: whitesmoke url(../images/common/bg_slash.gif) repeat scroll left bottom;
  padding: 3px;
}
.aipostyle .required {
  display: block;
  background: transparent url(../images/common/icon_required.gif) no-repeat right top;
}
.aipostyle input[type=submit],
.aipostyle input[type=button],
.aipostyle input[type=reset],
.aipostyle a.button {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  *margin-left: .3em;
  color: #333333 !important;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  border: solid 1px #d2d2d2;
  border-color: #d2d2d2 #d2d2d2 silver;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  *zoom: 1;
  white-space: nowrap;
  text-decoration: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
}
.aipostyle input[type=submit]:hover,
.aipostyle input[type=submit]:focus,
.aipostyle input[type=button]:hover,
.aipostyle input[type=button]:focus,
.aipostyle input[type=reset]:hover,
.aipostyle input[type=reset]:focus,
.aipostyle button:hover,
.aipostyle button:focus,
.aipostyle a.button:hover,
.aipostyle a.button:focus {
  color: #333333;
  background-color: #e6e6e6;
  background-color: #cccccc \9;
  background-position: 0 -15px;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.aipostyle input[type=submit]:focus,
.aipostyle input[type=button]:focus,
.aipostyle input[type=reset]:focus,
.aipostyle button:focus,
.aipostyle a.button:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.aipostyle input[type=submit]:active,
.aipostyle input[type=button]:active,
.aipostyle input[type=reset]:active,
.aipostyle button:active,
.aipostyle a.button:active {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}
.aipostyle table.list,
.aipostyle table.form {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 10px 0;
}
.aipostyle table.list th,
.aipostyle table.form th {
  padding: 3px 5px;
  white-space: nowrap;
  background: #f0f0f0;
  text-align: left;
}
.aipostyle table.list td,
.aipostyle table.form td {
  padding: 3px 5px;
  border-bottom: solid 1px #f0f0f0;
}
.aipostyle .pagination {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 5px 0;
  padding: 0;
  vertical-align: middle;
}
.aipostyle .pagination li {
  text-align: center;
  background: none;
  background-color: #FFF;
  float: left;
  background: none;
  padding: 0;
}
.aipostyle .pagination li a:link,
.aipostyle .pagination li a:visited {
  display: block;
  min-width: 25px;
  line-height: 28px;
  padding: 0 2px;
  margin: 0;
  color: #333333;
  text-decoration: none;
  font-size: .9em;
  border-top: solid 1px #d2d2d2;
  border-bottom: solid 1px #d2d2d2;
  border-right: 1px solid #d2d2d2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.aipostyle .pagination li a:hover {
  background-color: #fff5d8;
  color: #f90;
}
.aipostyle .pagination li:first-child a {
  border-left: 1px solid #d2d2d2;
  border-radius: 4px 0 0 4px;
}
.aipostyle .pagination li:last-child a {
  border-radius: 0 4px 4px 0;
}
.aipostyle .pagination li.selected a:link,
.aipostyle .pagination li.selected a:visited,
.aipostyle .pagination li.selected a:active,
.aipostyle .pagination li.selected a:hover {
  background-color: #d2d2d2;
  color: black;
  cursor: default;
  font-weight: bold;
}
.aipostyle .pagination li.prev a {
  margin: 0 4px 0 0;
  border-right: 1px solid #d2d2d2;
}
.aipostyle .pagination li.prev + li a {
  border-left: 1px solid #d2d2d2;
}
.aipostyle .pagination li.next a {
  margin: 0 0 0 4px;
  border-left: 1px solid #d2d2d2 !important;
}
.aipostyle .pagination li.next + li a {
  border-right: 1px solid #d2d2d2;
}
.aipostyle .pagination li.disabled a:link,
.aipostyle .pagination li.disabled a:visited,
.aipostyle .pagination li.disabled a:active,
.aipostyle .pagination li.disabled a:hover {
  background-color: #FFF;
  border-color: #d2d2d2;
  color: #d2d2d2;
  cursor: default;
}
.aipostyle .alertGray,
.aipostyle .alertRed,
.aipostyle .alertYellow,
.aipostyle .alertGreen,
.aipostyle .alertBlue {
  display: block;
  padding: 3px 5px;
  margin: 5px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.aipostyle .alertGray {
  background: #f0f0f0;
}
.aipostyle .alertRed {
  background: #e63439;
  color: white;
}
.aipostyle .alertYellow {
  background: #f3b700;
  color: white;
}
.aipostyle .alertGreen {
  background: #46a546;
  color: white;
}
.aipostyle .alertBlue {
  background: #049cdb;
  color: white;
}
.aipostyle select {
  border: solid 1px silver;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  min-height: 32px;
  padding: 5px;
  max-width: 300px;
}
.aipostyle .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.aipostyle .clearfix {
  display: inline-block;
}
.aipostyle .clearfix {
  display: block;
}
.aipostyle .left {
  text-align: left;
}
.aipostyle .right {
  text-align: right;
}
.aipostyle .center {
  text-align: center;
}
.aipostyle .top {
  vertical-align: top;
}
.aipostyle .small {
  font-size: .9em;
  line-height: 1.2;
}
.aipostyle .thin {
  width: 2%;
}
.aipostyle .wide {
  width: 100%;
}
.aipostyle .w90 {
  width: 90%;
}
.aipostyle .w75 {
  width: 75%;
}
.aipostyle .w50 {
  width: 50%;
}
.aipostyle .w25 {
  width: 25%;
}
.aipostyle .w33 {
  width: 33.333333%;
}
.aipostyle .indicator {
  background: url(../images/common/indicator.gif) no-repeat left;
  padding: 2px 0 2px 18px;
  margin-left: 2px;
}

* html .aipostyle a.button:link,
* html .aipostyle a.button:visited,
* html .aipostyle a.button:active {
  padding: 2px;
  border: none;
  background-position: 1px 2px;
  background-repeat: no-repeat;
}
* html .aipostyle a.button:hover {
  padding: 1px;
  background-position: 1px 2px;
  background-repeat: no-repeat;
  border: 1px solid #F90;
}

* + html .aipostyle a.button:link,
* + html .aipostyle a.button:visited,
* + html .aipostyle a.button:active {
  padding: 2px;
  border: none;
  background-position: 1px 2px;
  background-repeat: no-repeat;
}

/* Hides from IE-mac \*/
* html .aipostyle .clearfix {
  height: 1%;
}

/* End hides from IE-mac */
.aipostyle .clear {
  clear: both;
}

*:first-child + html .aipostyle select {
  padding: 0;
}
*:first-child + html .aipostyle select[multiple] {
  height: auto;
}
*:first-child + html .aipostyle input[type=submit],
*:first-child + html .aipostyle input[type=button],
*:first-child + html .aipostyle input[type=reset] {
  line-height: 25px;
  padding: 0 2px;
}
*:first-child + html .aipostyle a.button {
  border: solid 1px #d2d2d2;
}
